<!DOCTYPE html>
<html>
<head>
    <title>Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="{{ url_for('.static', filename='master.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
</head>

<!-- navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><img style="height: 30px; width: 30px; color: #FFFFFF" src="static/images/LOGOWHITE.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('index') }}">DEPARTMENTS</a></li>
                <li><a href="{{ url_for('index') }}">PRODUCTS</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('account') }}">ACCOUNT</a></li>
                    <li><a href="{{ url_for('logout') }}">LOG OUT</a></li>
                    <li><a href="{{ url_for('cart') }}"><i style="color: #fff;" class="fa fa-shopping-cart fa-lg"></i></a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">SIGN IN</a></li>
                    <li><a href="{{ url_for('register') }}">REGISTER</a></li>
                    <li><a href="{{ url_for('guestcart') }}"><i style="color: #fff;" class="fa fa-shopping-cart fa-lg"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Display Alerts -->
<div class="alertscenter">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

<!-- content -->
{% block content %}{% endblock %}

</body>
</html>
